.subHeading {
  padding: 30px 0 10px 0px;
}

.bloggrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px; /* space between columns */
  margin-top: 32px;
}

.bloglarge,
.blogsmallcontainer {
  display: flex;
  flex-direction: column;
}

.blogsmallcontainer {
  display: grid;
  grid-gap: 32px;
}

.bloglarge,
.blogsmall {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
}

.blogcard.horizontal .blogimage,
.blogcard.horizontal .blogcontent {
  width: 100%; /* Ensure children take full width of their grid area */
}

.blogcard.vertical .blogimage,
.blogcard.vertical .blogcontent {
  grid-column: 1 / -1; /* Makes them span full width in vertical layout */
}

.blogimage img {
  width: 100%; /* Image should always take full width of its container */
  display: block; /* Remove any extra space below the image */
  object-fit: cover;
  border-radius: 4px;
}

.blogauthordate {
  color: #666;
  font-size: 0.8rem;
}

.headingAndIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconButton {
  background-color: transparent; /* Makes the button background transparent */
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor to the pointer hand */
  padding: 0; /* Removes padding */
  display: flex; /* To center the SVG icon within the button */
  align-items: center;
  justify-content: center;
}

.iconButton svg {
  fill: #1a1a1a; /* SVG color inherits from the button color */
  /* You can add other styles like transitions here */
}

.blogsummary {
  max-height: 48px; /* Set the maximum height for the summary */
  overflow: hidden;
  color: #999999;
  margin: 0;
}

.blogtags {
  margin-top: 30px;
  overflow: hidden;
  max-height: 27px;
  padding: 0;
}

.blogtag {
  display: inline-block;
  background: #f7f9ec;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 16px;
  font-family: Steppe;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #609966;
}

.loadButton {
  width: fit-content;
  margin: auto;
  padding: 70px 0;
}

.searchContainer {
  border: solid 1px #cccccc;
  border-radius: 999px;
  width: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.searchBarStyle {
  font-size: 16px;
  border: none;
  outline: none;
}

.blogPageImg {
  width: 100%;
  height: 426px;
  object-fit: cover;
}

.htmlText img {
  width: 100%;
  height: 426px;
  object-fit: cover;
}

.htmlText p {
  font-family: Steppe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #808080;
}

.htmlText h2 {
  font-family: Steppe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
}

.htmlText li{
  font-family: Steppe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #808080;
}

.blogPageButtonsDiv{
  width: 100%;
  margin: 30px 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}