.blogcard.horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Equal width columns */
  grid-gap: 24px; /* Adjust the gap as necessary */
}
.blogcard.vertical {
  display: grid;
  grid-template-columns: 1fr ; 
  grid-gap: 24px; 
}