.breadcrumb {
  padding: 8px 5px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}

.breadcrumb-item {
  display: inline;
  font-size: 14px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 5px;
  color: #6c757d;
}

.breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #333333;
  pointer-events: none;
  cursor: default;
  font-weight: 600;
  size: 16px;
  line-height: 24px;
}

.inactive {
  color: #888 !important;
  font-weight: 300;
  size: 16px;
  line-height: 24px;
}

.inactive:hover {
  color: #555 !important;
}
