@import url("./allFont/font/stylesheet.css");
@import url("./allFont/fontMon/stylesheet.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  font-weight: 700;
  size: 32px;
  line-height: 40px;
}

h2{
  font-size: 24px;
  color: #333; /* Dark grey color for the text */
  margin-bottom: 28px; /* Space below the header */
  font-weight: 700;
  line-height: 0px;
}

p{
  color: #333333;
  size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.line-height-zero{
  line-height: 0;
}

small{
  color: #333333;
  size: 14px;
  font-weight: 300;
  display: block;
}
